@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
.input {
  @apply h-10 px-3 border border-gray-200 rounded-lg text-sm bg-white
  focus:outline-none focus:ring-2 focus:ring-primary/20;
}

.filter-label {
  @apply text-xs font-medium text-gray-500 mb-1;
}